// Global default params, used in configs
params {

    // Input options
    input = null


    // Output options
    outdir = "/research/groups/northcgrp/home/common/Vincentius/smartseq3/testrun"

    // UMI EXTRACTION OPTION
    sequence_tag = "ATTGCGCAATG" // TSO-derived
    umi_size=8
    
    // ALIGNMENT AND FEATURE COUNT
    star_index_path = "/research/groups/northcgrp/home/common/Vincentius/resources/references/hg38/STAR_index"
    gtf_path = "/research/groups/northcgrp/home/common/Vincentius/resources/references/hg38/gencode.v45.annotation.gtf"

}

process {
    executor = 'lsf'
    queueSize = 100

    withLabel: process_med {
        cpus = 2
        memory = '16 GB'
    }

    withLabel: process_high {
        cpus = 4
        memory = '16 GB'
        time = '200h'
    }
}

profiles {
    // conda needs to be enabled in the new nextflow version
    conda.enabled = true
}
